

/* ................................ General ............................ */
body{
  overflow-x: none !important;
}

/* ...................................................................... */

#search:focus{
  border-color: white;
  box-shadow: 5px 5px 5px transparent;
}


#search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-weight: semibold;
    opacity: 0.7; /*For Firefox only */
  }

.ul_move_position_languages {
    position: relative;
    top: 1.2rem !important;
}

.ul_move_position_admin{
  position: relative;
  bottom: 1rem;
}

.ul_move_position_message_bell{
    position: relative;
    top: 1.4rem !important;
    
}

.div_toggle{
  display: none;
}
.change_width_for_div_content{
  width: 83vw !important;
}

#blocked_eye_btn{
  display: none;
}

.display_block{
  display: none !important;
}


/* .............. Hover ................. */

  .highlighted_div:hover{
    background-color: rgba(79, 50, 82, 0.345);
  }
  
  .mini_sidebar:hover .div_in_miniSideBar{
    padding-left: 0.6rem;



  }
  
  .mini_sidebar:hover {
    width: 20% !important;
    height: 100% !important;
    position:fixed;
    transition: all 0.5s ease-in-out;
    z-index: 90;
  }
  
  .mini_sidebar:hover #div_show {
    visibility: visible !important;
    transition: all 0.1s ;
  }

  .mini_sidebar:hover .appear{
  display: block !important;
  }

  .mini_sidebar:hover + #div_content{
   width: 100% !important;
   background-color: #a5a5a2;
  }
 
    .mini_sidebar:hover  #div_without_accordion i{
      margin-left: 0rem !important;
  }

  .mini_sidebar:hover  #div_without_accordion a{
        margin-right: 12rem;
        margin-left: 1.3rem;
  }

  .mini_sidebar:hover   .icon_size{
          font-size: 1.3rem;
  }


  .hover:hover {
  
    opacity: 1 !important;
    transition: all 0.1s;
  }


 
  



  /* .................. Media Query - Width ...................... */
  @media (max-width: 1200px )
  {
    .left_div_in_sideBar{
      width: 55% !important;
    }

    .right_div_in_sideBar{
      width: 45% !important;
    }
   

}

  
  @media (max-width: 992px )
  {
    .img_in_navBar{
      position: relative;
      right: 0.5rem;
    }

    .left_div_in_sideBar{
      position: relative;
    }
    .logo_img_in_navBar{
      position: absolute;
      right: 0;
    }

  }


  @media (max-width: 1000px )
  {
    .mini_sidebar{
      width: 50px !important;
    }
    .mini_sidebar:hover{
      width: 190px !important;
    }

    #max_sidebar{
      display: none !important;
    }

  }

  @media (max-width: 675px )
  {
    .div_of_passForm_in_login_page{
      flex-direction: column !important;
      align-items:flex-start !important ;
    }
    
    #password_label_in_login_page{
      position: relative;
      top: 0.75rem;
    }
    .forget_password_in_login_page{
      margin-bottom: 0.25rem;
    }

  }

  @media (max-width: 600px )
  {
    .div_of_dont_have_account_in_login_page{
      flex-direction: column !important;
      align-items:center !important ;
      

    }
    .p1_dont_have_account_in_login_page{
      text-align: center;

    }
    .p2_dont_have_account_in_login_page{
      position: relative;
      bottom: 1rem;
    }
    

  }
/* .... */
  @media (max-width: 1400px )
  {
    .icon-keyboard_arrow_down{
      display: none !important;
    }

  }



  /* .................. Media Query - Height ...................... */


  @media (max-height: 700px )
  {
    .div_in_navBar{
      padding: 2.5rem 0rem !important;
     
    }
    
    .side_bar{
      top: 11vh !important;
      
    }

    #max_sidebar{
      position: relative;
      bottom: 0.25vh !important;

    }
    .right_div_in_sideBar{
      height: 11.5vh !important;
    }

    .highlighted_div{
      margin-bottom: 0.5rem;
      border-radius:0.5rem ;
      padding: 0rem 1rem;
      margin-left: 1rem;
    }
    .img_in_navBar{
      width: 2rem;
      height: 2rem !important;
    }
    .div_in_mini_sidebar_in_collapse,.div_in_max_sidebar_in_collapse{
      padding-top: 0.25rem !important;
    }
  }

