body {
    background-color: #f7f7f7;
}

.table {
    font-size: 1rem;
}

.name1,
.name2 {
    margin-bottom: 0.3rem;
}

.name2 {
    font-size: 0.8rem;
}

.btn {
    background-color: #55cb72;
}

.name1:hover {
    color: #698aea;
}
.circle1 {
background-color: #ff7e61;
font-size: 0.5rem !important;
align-items: center;
width: 1.5rem;
height: 1.5rem;
}
.circle1 .txt15 {
text-align: center;
padding-top: 29%;
}
#btnAdd{
    background-color: #698aea;
}
